# Carpetas generadas
dist
dist-ssr
build
coverage

# Archivos de sistema y configuración
node_modules
.vscode

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Configuración
*.config.js
vite.config.js
