.testimonio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  gap: 40px;
  min-height: 70vh;
  box-sizing: border-box;
}

.testimonio-container.invertir {
  flex-direction: row-reverse;
}

.testimonio-container.invertir-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
}

.testimonio-container.final-testim {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.testimonio-texto {
  flex: 1;
  font-family: 'GroteskBold', sans-serif;
}

.testimonio-texto h2 {
  font-family: 'Bulletto', sans-serif;
  font-size: 4.5vw;
  margin-bottom: 10px;
  margin-top: 0;
}

.testimonio-texto .cita {
  font-size: 1.7vw;
  font-style: italic;
  margin-bottom: 10px;
}

.testimonio-texto .rol {
  font-size: 1.4vw;
}

.testimonio-imagen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonio-imagen img {
  max-width: 70%;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.testimonio-container.superpuesto {
  margin-top: -50px; /* se solapa con el anterior */
  padding-top: 100px; /* compensa para que el contenido no se corte */
  position: relative;
}

.testimonio-imagen img:hover {
  transform: scale(1.05);
}

.testimonios-titulo {
  text-align: center;
  padding: 60px 20px 60px;
  background-color: white;
}

.testimonios-titulo h1 {
 /* background-image: url('/Images/Entrevista.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;*/
  font-family: 'Bulletto', cursive;
  font-size: 8vw;
  color: #044c94; /* o el color que prefieras */
  margin: 0;
  
}

@media (max-width: 768px) {
  .testimonio-container,
  .testimonio-container.invertir {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .testimonio-texto h2 {
    font-size: 7vw;
  }

  .testimonio-texto .cita {
    font-size: 3.5vw;
  }

  .testimonio-texto .rol {
    font-size: 3vw;
  }
}
