.politica-container {
  width: 100%;
  margin: auto;
  padding: 90px 90px 70px 90px; /* espacio arriba, derecha, abajo, izquierda */
  box-sizing: border-box;
  background-color: #ffffff;
}

.politica-header {
  margin-top: 50px;
  text-align: left;
}

.politica-titulo {
  font-family: "GroteskBold", sans-serif;
  font-size: 4rem;
  margin-bottom: 5px;
  color: #10045c;
}

.politica-separador {
  border: none;
  height: 2px;
  background-color: #eb873b; /* tu naranja */
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
}

.politica-cuerpo {
  display: block;
}

.politica-texto {
  font-family: "PeterMedium", sans-serif;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.7;
  margin-bottom: 1.2rem;
  color: #000000;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .politica-container {
    padding: 90px 20px 40px 20px;
  }

  .politica-titulo {
    font-size: 3rem;
  }

  .politica-texto {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .politica-titulo {
    font-size: 2.2rem;
  }

  .politica-texto {
    font-size: 0.95rem;
  }
}
