#root {
	height: 100%;
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
	display: flex;
	text-align: center;
	flex-direction: column;
}
.app-container {
	display: flex;
	flex-direction: column;
	min-height: 200vh;
}

.main-content {
	flex: 1;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* Corrige el fondo gris en inputs con autofill de Chrome NO BORRAR*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color: #002c6c !important;
	transition: background-color 9999s ease-in-out 0s;
}
